<ion-toolbar color="light">

  <ion-avatar slot="start">
    <img src="assets/logo-2.png">
  </ion-avatar>

  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="danger">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>AgriUT Rewards</ion-title>
</ion-toolbar>

<ion-content>

<ion-item lines="none" color="white">
    <img src="assets/logo-1.png" style="margin-left: 3%;">
</ion-item>

<ion-card>
  <ion-list>
    <ion-item *ngFor="let farmer of farmers" [routerLink]="['./', farmer.ClientId]">
        <ion-avatar slot="start">
          <ion-img [src]="encodeImage(farmer.Image64)"></ion-img>
        </ion-avatar>
        <div>
          <div style="margin-bottom: 0.3em;"><b>{{farmer.Name}}</b></div>
          <span style="color: #666666;font-size: 0.90em;"><b><i>{{farmer.Village}} {{farmer.Village && ','}} {{farmer.Country}}</i></b></span>
        </div>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>

<ion-footer>
<ion-toolbar color="warning">
    <ion-grid>
        <ion-row>
           <ion-col size="4">

            </ion-col>
            <ion-col size="4">
                <ion-img src='assets/about.png'></ion-img>
            </ion-col>
          <ion-col size="4">
            </ion-col>
        </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-footer>
